@use "../design-system/mixins" as *;
@use "../design-system/colors";
@use "../design-system/fonts";
.module {
    &__cinema {
        @include box(100%,map-get(colors.$secondary, light),0.2rem 0rem 2rem 0.5rem rgb(0 0 0 / 10%),1.5rem);
        max-width: 126rem;
        margin: 2rem auto 2rem auto;
        @media (min-width: 768px) {
            padding: 1.6rem;
        }
        & h1 {
            font-size: map-get(fonts.$sizes, xxl);
            color: map-get(colors.$secondary, dark);
            padding: 1.6rem 1.6rem 0 1.6rem;
            width: 100%;
            @media (min-width: 768px) {
                padding: 0;
            }
        }
        & hr {
            border: 0.1rem solid #E4E4E4;
            margin: 0.8rem 1.6rem 1.6rem 1.6rem;
            @media (min-width: 768px) {
                margin: 0.8rem 0 1.6rem 0;
            }
        }
        &__container {
            width: 100%;
            &__content {
                width: 100%;
                height: 60rem;
                background-image: url(/src/client/assets/images/porsche.jpg);
                aspect-ratio: 2 / 3;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                @media (min-width: 1366px) {
                    height: 50rem;
                }
                &__items {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    @media (min-width: 768px) {
                        width: 27.4rem;
                        left: 3.2rem;
                        bottom: 3.2rem;
                    }
                    &__badge {
                        color: map-get(colors.$secondary, light);
                        background-color: map-get(colors.$secondary, dark);
                        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
                        width: 5.5rem;
                        border-radius: 10rem;
                        margin-bottom: 0.8rem;
                        text-align: center;
                        font-size: map-get(fonts.$sizes, xs);
                        font-family: map-get(fonts.$family,Kantumruy);
                        text-transform: uppercase;
                        display: none;
                        @media (min-width: 768px) {
                            display: block;
                        }
                    }
                    &__block {
                        width: 100%;
                        background-color: map-get(colors.$secondary, dark);
                        padding: 0.8rem 1.6rem 0.8rem 1.6rem;
                        color: map-get(colors.$secondary, light);
                        &:hover {
                            background-color: rgba($color: map-get(colors.$secondary, dark), $alpha: 0.8);
                        }
                        @media (min-width: 768px) {
                            background-color: map-get(colors.$secondary, light);
                            padding: 3.2rem;
                            &:hover {
                                background-color: rgba($color: map-get(colors.$secondary, light), $alpha: 0.8);
                            }
                        }
                        & em {
                            font-style: normal;
                            color: map-get(colors.$secondary, light);
                            @media (min-width: 768px) {
                                color: map-get(colors.$primary, normal);
                            }
                        }
                        & p {
                            font-size: map-get(fonts.$sizes, xl);
                            line-height: 2.8rem;
                            font-weight: 400;
                            @media (min-width: 768px) {
                                font-size: map-get(fonts.$sizes, xxl);
                                line-height: 3.2rem;
                                color: map-get(colors.$secondary, dark);
                            }
                        }
                        & blockquote {
                            font-size: map-get(fonts.$sizes, sm);
                            padding-top: 0.8rem;
                            font-weight: 700;
                            @media (min-width: 768px) {
                                color: map-get(colors.$secondary, dark);
                            }
                        }
                    }
                }
            }
        }   
    }
}