@use "../design-system/mixins" as *;
@use "../design-system/colors";
@use "../design-system/fonts";
.module {
    &__group-x4 {
        @include box(100%,map-get(colors.$secondary, light),0.2rem 0rem 2rem 0.5rem rgb(0 0 0 / 10%),1.5rem);
        max-width: 92.5rem;
        margin: auto;
        margin-top: 2rem;
        @media (min-width: 768px) {
            padding: 0 1.6rem 0 1.6rem;
        }
        & h1 {
            font-size: map-get(fonts.$sizes, xxl);
            color: map-get(colors.$secondary, dark);
            width: 100%;
            padding: 1.6rem 1.6rem 0 1.6rem;
            @media (min-width: 768px) {
                padding: 1.6rem 0 0 0;
            }
        }
        & hr {
            border: 0.1rem solid #E4E4E4;
            margin: 0.8rem 1.6rem 0 1.6rem;
            @media (min-width: 768px) {
                margin: 0.8rem 0 0 0;
            }
        }
        &__container {
            gap: 3rem;
            display: flex;
            flex-direction: column;
            margin-top: 1.6rem;
            @media (min-width: 768px) {
                width: 100%;
                gap: 1.6rem;
                flex-direction: row;
            }
            @media (min-width: 1366px) {
                gap: 3rem;
            }
            &__aside {
                width: 100%;
                height: 100%;
                & h2 {
                    font-size: map-get(fonts.$sizes, xl);
                    font-weight: 400;
                    color: map-get(colors.$primary, normal);
                    padding: 0 1.6rem 2.4rem 1.6rem;
                    @media (min-width: 768px) {
                        padding: 0 0 2.4rem 0;
                    }
                }
                &__content {
                    width: 100%;
                    padding: 0 1.6rem 0 2.6rem;
                    @media (min-width: 768px) {
                        padding: 0;
                    }
                    &:last-child .center-line {
                        display: none;
                    }
                    &__items {
                        display: flex;
                        align-items: center;
                        position: relative;
                        @media (min-width: 768px) {
                            gap: 1.1rem;
                        }
                        & .circle {
                            background-image: url(../assets/images/circle.png);
                            width: 1.9rem;
                            height: 1.9rem;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: relative;
                            left: -0.9rem;
                            z-index: 1;
                            @media (min-width: 768px) {
                                left: 0;
                            }
                        }
                        & em {
                            font-family: map-get(fonts.$family,Kantumruy);
                            font-size: map-get(fonts.$sizes, xs);
                            font-weight: 400;
                            font-style: normal;
                            color: map-get(colors.$primary, normal);
                        }
                        & .center-line {
                            position: absolute;
                            width: 0.1rem;
                            height: 100%;
                            background: map-get(colors.$primary, normal);
                            @media (min-width: 768px) {
                                left: 0.9rem;
                            }
                        }
                        & p {
                            font-family: map-get(fonts.$family,Kantumruy);
                            font-weight: 400;
                            line-height: 2.4rem;
                            color: map-get(colors.$secondary, dark);
                            font-size: map-get(fonts.$sizes, md);
                            width: 100%;
                            padding-top: 0.4rem;
                            padding-bottom: 2.4rem;
                            padding-left: 2rem;
                            @media (min-width: 768px) {
                                padding-left: 3rem;
                            }
                        }
                    }
                }
            }
            &__cards {
                display: flex;
                flex-direction: column;
                width: 100%;
                &__content {
                    width: 100%;
                    @media (max-width: 360px) {
                        width: 100%;
                        margin: 0 auto;
                    }
                    &:last-of-type {
                        margin-top: 4rem;
                    }
                    &__image {
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 3 / 2;
                    }
                    & p {
                        font-weight: 400;
                        font-size: map-get(fonts.$sizes, lg);
                        line-height: 2.6rem;
                        margin-top: 0.8rem;
                        width: 100%;
                        padding: 0 1.6rem 0 1.6rem;
                        @media (min-width: 768px) {
                            padding: 0;
                        }
                        & em {
                            color: map-get(colors.$primary, normal);
                            font-style: normal;
                        }
                    }
                    & blockquote {
                        margin-top: 0.8rem;
                        font-family: map-get(fonts.$family,Kantumruy);
                        font-weight: 700;
                        font-size: map-get(fonts.$sizes, sm);
                        padding: 0 1.6rem 1.6rem 1.6rem;
                        @media (min-width: 768px) {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}