@use "../design-system/mixins" as *;
@use "../design-system/colors";
@use "../design-system/fonts";
.cards {
    @include box(100%,map-get(colors.$secondary, light),0.2rem 0rem 2rem 0.5rem rgb(0 0 0 / 10%),1.5rem);
    display: flex;
    max-width: 92.5rem;
    margin: 2rem auto 2rem auto;
    flex-direction: column;
    @media (min-width: 768px) {
        padding: 0 1.6rem 1.6rem 1.6rem;
        .module__group-x4__container {
            width: 100%;
            flex-direction: column;
            @media (min-width: 1400px) {
                flex-direction: row;
            }
            &__aside {
                width: 100%;
                @media (min-width: 1400px) {
                    &__content:last-child {
                        display: none;
                    }
                    &__content:nth-child(5) .center-line {
                        display: none;
                    }

                }
            }
            .element-distrubutor {
                display: flex;
                gap: 3rem;
                flex-direction: column;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
            }
        }
    }
    .module__cinema__container__content {
        background-image: url(/src/client/assets/images/mercedezAntiguo.jpg);
        &__items {
            &__block {
                & em {
                    font-style: normal;
                }
                & blockquote {
                    color: map-get(colors.$secondary, light);
                    font-weight: 700;
                    font-family: map-get(fonts.$family,Kantumruy);
                    font-size: map-get(fonts.$sizes, sm);
                    @media (min-width: 768px) {
                        color: map-get(colors.$secondary, dark);
                    }
                }
            }
        }
    }
    & h1 {
        font-size: map-get(fonts.$sizes, xxl);
        color: map-get(colors.$secondary, dark);
        width: 100%;
        padding: 1.6rem 1.6rem 0 1.6rem;
        @media (min-width: 768px) {
            padding: 1.6rem 0 0 0;
        }
    }
    & hr {
        border: 0.1rem solid #E4E4E4;
        margin: 0.8rem 1.6rem 0 1.6rem;
        @media (min-width: 768px) {
            margin: 0.8rem 0 0 0;
        }
    }
}