@use "../design-system/colors";

@mixin box ($w: 100%,$back-color: map-get(colors.$secondary, light),$b-shadow: 0.2rem 0rem 2rem 0.5rem rgb(0 0 0 / 10%),$bor-rad: 1.5rem) {
    width: $w;
    background-color: $back-color;
    box-shadow: $b-shadow;
    border-radius: $bor-rad;
}