@use "../design-system/colors";
@use "../design-system/fonts";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    font-family: map-get(fonts.$family,roboto);
    background-color: map-get(colors.$neutral, background); 
}

a,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}